body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: aquamarine;
}
/* body > footer { */
    /* background-color: dodgerblue;
}

body > footer > p {
    padding: 16px;
    color: white;
    text-align: center;
}

body > header {
    background-color: dodgerblue;
} */